.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.bannerContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.bannerImage {
  position: relative;
  flex: 1;
}

.itemContainer {
  position: absolute;
  flex: 1;
  display: flex;
  height: 118px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.column {
  flex: 1;
}

.textSmall {
  font-size: 16px;
  font: Montserrat;
  font-weight: 400;
  line-height: 19.5px;
  align-items: center;
  color: #FFFFFF
}

.marginTop {
  margin-top: 22px;
}

.width {
  width: 483px;
}

.textLarge {
  font-size: 24px;
  font: Montserrat;
  font-weight: 400;
  line-height: 29.26px;
  align-items: center;
  color: #FFFFFF
}

.button {
  Width: 248px;
  Height: 48px;
  border-radius: 8px;
  gap: 8px;
  color: #008096;
  font: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
  text-align: center;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 700px) {
  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

.placeholder {
  flex: 1;
  height: 100%; 
  display: flex;
  align-items: center;
}